body{background-color:darkcyan;}
#contenneur{width: 950px;
            height: 600px;
            border: 1px solid black;
            margin: auto;
            background-color: white;
}
#banniere{height: 100px;
          margin: 5px;
          border: 1px solid black;
          background-color: gray;
}
#logo{width: 150px;
      height: 90px;  
      margin: 5px;
      border: 1px solid black;  
      background-color:aqua;  
}
#entete{height: 30px;
        margin: 5px;
        border: 1px solid black;
        background-color: khaki;
}
#menu  ul{margin:0px;
    padding:0px;
        }
#menu  ul li{list-style:none;
        float:left;
        }	 
#menu  ul li a{
      /*text-decoration:none;*/
         margin:auto;
                 display:block;
                 padding:0px 21px 0px 21px;
                 line-height:30px;
                 border-left:1px solid #c0c0c0;
                 transition:background-color 2s linear;
                 color:black;
                 font-weight:bold;
         }   
#menu  ul li a:hover{
      background-color:orange;
        }	  
#corps{height: 360px;
       margin: 5px;
       border: 1px solid black;
       background-color: lightblue; 

}
#footer{height: 75px;
        margin: 5px;
        border: 1px solid black;
        background-color: pink;

}